/*Import Font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Criando font-face para importar fonte local */
@font-face {
    font-family: 'comfortaa';
    src: url('fonts/Comfortaa-Bold.ttf') format('truetype'), url('fonts/Comfortaa-Light.ttf') format('truetype'), url('fonts/Comfortaa-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'lemon';
    src: url('fonts/LEMONMILK-Bold.otf') format('opentype'), url('fonts/LEMONMILK-BoldItalic.otf') format('opentype'), url('fonts/LEMONMILK-Light.otf') format('opentype'), url('fonts/LEMONMILK-LightItalic.otf') format('opentype'), url('fonts/LEMONMILK-Medium.otf') format('opentype'), url('fonts/LEMONMILK-MediumItalic.otf') format('opentype'), url('fonts/LEMONMILK-Regular.otf') format('opentype'), url('fonts/LEMONMILK-RegularItalic.otf') format('opentype');
}

/* 
font-family: 'lemon' (títulos)
font-family: 'comfortaa' (textos e outros)

*/

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F0F2EF;
    overflow-x: hidden;
}
#containerAll{
    font-family: 'comfortaa', serif;
    font-size: 0.7em;
    color: #0d0d0d;
}

/*Inicio NAVBAR*/

nav{
    background-color: #032B43;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    position: sticky;
    z-index: 1000;
    top: 0;
    transition: all 0.2s ease-in-out;
}

#linkscontainer{
    display: flex;
    justify-content: flex-end;
}
.navbarLink{
    padding: 1em;
    margin-right: 0.8em;
}
#logo_has img{
    width: 80px;
    margin-left: 20px;
}
/* a{
    color: #F0F2EF;
    text-decoration: none;
    font-family: 'lemon';
    font-size: 1.7em;
} */
a {
    font-size: 1.7em;
    font-family: 'lemon';
    color: #F0F2EF;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    text-decoration: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
a:focus,
a:hover {
  color: #fff;
}

a:focus:after,
a:hover:after {
  width: 100%;
  left: 0%;
}
/* a:hover{
    background-color: #F0F2EF;
    color: #032B43;
    text-decoration: underline;
} */
a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
/*Fim NAVBAR*/

/*Inicio Content*/

#pageSubtitle{
    font-size: 2em;
    font-weight: bold;
    font-family: 'lemon';
    margin-bottom: 1em;
}
#pageDescription{
    width:60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sizePD{
    font-size: 1.5em;
}

#Description-container{
    font-size: 13px;
    text-align: center;
    font-weight: 600;
}

/*Inicio bakcground img*/
#content{
    display: grid;
    justify-items: center;
    font-weight: 500;
}

#principalImg{
    width: 100vw;
    height: 40vh;
    margin-bottom: 4vh;
}
#principalImg h1{
    color: #F0F2EF;
    font-size: 5em;
    font-weight: 700;
    font-family: 'lemon';

}
#darkness{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100vw;
    height: 30vh;
}
#principalImg img{
    width: 100vw;
    background-size: cover;
    height: 30vh;
    object-fit: cover;
}
#title-container{
    width: 100vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 999;
    font-family: 'lemon';
}
/*fim bakcground img*/
/*Inicio cards*/

h4{
    font-size: 1.9vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: 'lemon';
}

#cardsContainer{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 70vh;
    padding:0.2vw;
    width: 80vw;
}
.cards-text{
    font-size: 13px;
}

.ExperimentCard{
    border-radius: 5%;
    box-shadow: 0 4px 8px -1px rgb(127, 127, 127);
    text-align: justify;
    margin-right: 3em;
    transition: all 0.2s ease-in-out;
    height: 75vh;
    width: 80vw;
}

.ExperimentCard:hover{
    transform: scale(1.05);
}

.cards-content{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-text{
    font-size: 15px;
}

.ProjectsImg{
    width:100%;
    overflow: hidden;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%; 
    height:35vh;
}

/* Pag Experimento */

.experiment-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experiment-desc-container{
    display: flex;
    width: 73vw;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}

#disco-flutuante-container{
    margin-top: 0em;
}

#loop-container{
    display: flex;
    width: 73vw;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    flex-direction: column;
}

.left-item-desc{
    margin-right: 3em;
}

#loop-img{
    width: 60vw;
    margin-bottom: 2em;
}

.title-desc{
    font-family: 'lemon';
    font-size: 5em;
    margin-bottom: .6em;
}

.img-desc{
    width: 36vw;
}

.paragraphy{
    font-family: 'comfortaa';
    font-size: 2em;
    text-align: justify;
}

/* PÁG SOBRE */

.img-sobre{
    width: 70vw;
}

.desc-sobre-container{
    margin-top: 4em;
}

.paragraphy-sobre{
    width: 80vw;
    font-size: 2em;
    text-align: justify;
}

.materias-tecnico-container{
    margin-top: 8em;
    width: 80vw;
}

.title-materiais h2{
    font-size: 4em;
    font-family: 'lemon';   
}

.materias-cards-container{
    margin-top: 4em;
    cursor: pointer;
    user-select: none;
}

.cards-container{
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    width: 50vw;
    border-radius: 20px 20px 0 0;
    justify-content: space-between;
    padding: 1.7em 0;
    
}

.name-cards-materias{
    font-size: 2.5em;
    margin-left: .4em;
}

.arrow-cards{
    width: 3em;
    margin-right: 1em;
    transition: all 0.3s ease-in-out;
    rotate: 0deg;
}

.desc-cards-container{
    
    height: 0px;
    display: none;
    width: 50vw;
    background-color: #e6e6e6;
    transition: all 0.3s ease-in-out;
}

.desc-cards-materias{
    padding: 1em;
    font-size: 1.7em;
    text-align: justify;
}

.all-cards-container{
    margin-top: 1em;
}

/*fim cards*/
/*fim content*/
/*Inicio footer*/
footer{
    background-color: #032B43;
    margin-top: 10em;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'lemon';
    padding: 4em;
}

.mid-item-footer h2{
    font-size: 3em;
}

.right-item-footer h4{
    font-size: 1.7em;
}
/*Fim footer*/
